name: Upgrades

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  UpgradeTests:
    name: Upgrade
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [ morphia, javabot ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'
          server-id: central
          cache: maven

      - name: Set up sdkman
        uses: sdkman/sdkman-action@main
        with:
          candidate: maven
          version: 4.0.0-rc-5

      - name: Run Migration
        run: |
          make ${{ matrix.project }}
